
<link rel="stylesheet" type="text/css" href="~/CSS/Order.css" />
@{
    ViewBag.Title = "Order";
}
<div style="margin-right:20px;">
    <img src="~/images/TopImage.PNG" style="margin-left: 33%;" />
    <h4 class="order" style="text-align: center; margin-top: 20px; font-weight: 900;">Order Placed Successfully</h4>
    <img src="~/images/unnamed.png" style="margin-left:40%;" />
    <p class="info">hurray!!! your order is confirmed<br />the order id is #123456 save the order id for<br /> further communication..</p>
    <div>
        <div class="row mb-3">
            <div class="col-3"></div>
            <div class="col-6">
                <table class="table table-bordered" style="margin-bottom: 20px; position: relative; left: 28%;width:0px;">
                    <thead class="table-light">
                        <tr>
                            <th style="text-align:center;">Email us</th>
                            <th style="text-align:center;">Contact us</th>
                            <th style="text-align:center;">Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>admin@bookstore.com</td>
                            <td>+919874521635</td>
                            <td>14th main, 2nd cross banglore, <br />opp to Bda complex 560068</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="buttonmain">
            <input id="Shopping" class="orderbtn btn btn-primary" type="button" value="CONTINUE SHOPPING" onclick="@("window.location.href='" + Url.Action("GetBooks", "Books") + "'");" />
        </div>
    </div>
</div>

