@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<div class="user-register">
    <h3 class="card-title" style="font-weight:normal;">New User</h3>
    <p class="card-text">Create a new account to make future purchases even faster. </p>
    <div>FirstName:</div>
    <input id="Text1" type="text" />
    </div>

