@model IEnumerable <ModelsLayer.GetCartModel>


<div class="getmain" style="border:1px solid;padding:25px;width: 75%; border-color: lightgray;">
    <div>
        <h4 class="title1" style="margin-bottom: 30px;">My cart()</h4>
        <img src="~/images/book1.jpg" class="getimg" alt="..." style="width: 90px;">
    </div>
    @foreach (var items in Model)
    {
        <div class="container_get">
            <div class="image">

            </div>
            <div class="getcart">
                <div class="BookName">@items.BookName</div>
                <div class="Author">by @items.Author</div>
                <div class="Price">Rs. @items.Price</div>
            </div>
        </div>

    }
    <div class="btn_checkout">
        <input id="Placeorder_btn" type="button" value="PLACE ORDER" style="position: relative; left: 75%; background-color: royalblue; color: white; border: 0px; border-radius: 3px; padding: 4px; width: 20%;" />
    </div>
</div>
    


@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
